<ion-header>

  <!-- Navigation bar -->
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Telephone</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/icon/platform.png">
      </ion-avatar>
      <h2>Platform</h2>
      <p *ngIf="device_platform">{{device_platform}}</p>
      <p *ngIf="!device_platform">{{msg_error}}</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/icon/version.png">
      </ion-avatar>
      <h2>Version</h2>
      <p *ngIf="os_version">{{os_version}}</p>
      <p *ngIf="!os_version">{{msg_error}}</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/icon/UUID.png">
      </ion-avatar>
      <h2>UUID</h2>
      <p *ngIf="device_uuid">{{device_uuid}}</p>
      <p *ngIf="!device_uuid">{{msg_error}}</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/icon/model.png">
      </ion-avatar>
      <h2>Model</h2>
      <p *ngIf="device_model">{{device_model}}</p>
      <p *ngIf="!device_model">{{msg_error}}</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/icon/network.png">
      </ion-avatar>
      <h2>Connexion</h2>
      <p *ngIf="device_connection_type">{{device_connection_type}}</p>
      <p *ngIf="!device_connection_type">{{msg_error}}</p>
    </ion-item>

  </ion-list>

</ion-content>
