<ion-header>

  <!-- Navigation bar -->
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Refresh</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngIf="isConnected">
    <ion-icon ios="ios-happy" md="md-happy"></ion-icon>
    <p ion-text>Votre cache à été mis à jour ;)</p>
  </div>

  <div *ngIf="!isConnected">
    <ion-icon  ios="ios-bug" md="md-bug"></ion-icon>
    <p ion-text>Il te faut une connexion internet pour mettre à jour le cache...</p>
  </div>


</ion-content>
